@import url('https://fonts.cdnfonts.com/css/reem-kufi-fun');



* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;

}

:root {
    --colorFondo: #121212;
    --colorHeader: #2f4858;
    --colorPlanBoxes: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(47, 72, 88, 1) 10%, rgba(18, 18, 18, 1) 50%, rgba(47, 72, 88, 1)90%, rgba(18, 18, 18, 1) 100%);
    --colorLetras: #FF4B00;
    --colorLetrasSecundario: #f6008d;
    --colorLetrasTerceario: #48fff6;
    --colorFondoNavMenuHamburguesa: rgba(72, 255, 246, 0.6);
    --colorButton1: #00c896;
    --colorButton2: #e98127;
    --colorButton3: #fa9fa2;
    --backgroundColorVideo: radial-gradient(circle, rgba(18, 18, 18, 1) 0%, rgba(55, 42, 140, 1) 35%, rgba(55, 42, 140, 1) 36%, rgba(63, 55, 140, 0.7) 37%, rgba(100, 28, 140, 1) 45%, rgba(128, 59, 154, 1) 46%, rgba(116, 55, 140, 1) 47%, rgba(0, 155, 165, 0.5) 75%, rgba(18, 18, 18, 1) 100%);
    --backgroundColorVideoMobile: radial-gradient(circle, rgba(18, 18, 18, 1) 0%, rgba(55, 42, 140, 1) 40%, rgba(55, 42, 140, 1) 41%, rgba(63, 55, 140, 0.7) 42%, rgba(128, 59, 154, 1) 55%, rgba(100, 28, 140, 1) 56%, rgba(116, 55, 140, 1) 57%, rgba(0, 155, 165, 0.5) 75%, rgba(18, 18, 18, 1) 100%);
    /* radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(55,42,140,1) 20%, rgba(65,59,154,1) 21%, rgba(63,55,140,1) 22%, rgba(100,28,140,1) 45%, rgba(128,59,154,1) 46%, rgba(116,55,140,1) 47%, rgba(18,18,18,1) 85%); */
}

html {
    scroll-snap-type: y proximity;
}

body {
    background-color: var(--colorFondo);
}

header {
    display: flex;
    height: 130px;
    width: 100%;
    background-color: var(--colorHeader);
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    z-index: 99;

}

.logoBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;



}

.header-img {
    width: 175px;
    margin: 0 10px 0 30px;

}

.nav-bar {
    width: 100%;
    height: 100%;
}

.nav-link-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.separadorVertical {
    border-left: 2px solid var(--colorButton1);
    height: 50%;
}

.nav-link {
    margin: 10px;
    background-color: var(--colorHeader);
    color: white;
    padding: 10px;
    text-decoration: none;
    height: fit-content;
}

.nav-link:last-child {
    margin-right: 50px;
}

.boxTitle {
    height: 150px;
    text-align: center;
    font-size: 2.5rem;
    margin: 100px 0 35px 0;
}

.boxTitle h1 span {
    color: var(--colorLetrasSecundario);
}

.boxTitle h2 {
    font-size: 1.8rem;
    margin: 40px;
}

.separadorPrincipal {
    width: 65%;
    margin: 5% 17.25% 5% 17.25%;
    border-color: var(--colorLetrasSecundario)
}

.separadorPrincipal:nth-last-of-type(1) {
    width: 50%;
    margin: 5% 25% 5% 25%;
    border-color: var(--colorLetras)
}

.boxInfo {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
    margin: 100px 20% 100px 20%;
    text-align: start;
    width: 65%;
}

.boxInfo li {
    margin: 30px 0 30px 0;
    list-style: none;
    color: rgb(230, 230, 230);
}

.boxInfo li span strong {
    color: var(--colorLetras);
}

.videoBox {
    width: 100%;
    height: calc(100vh - 130px);
    background: var(--backgroundColorVideo);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out;
}

iframe {
    width: 59.45%;
    height: 80.75%;
    box-shadow: 0px 0px 100px #ffffffce;
    border-radius: 30px;
    outline: 3px solid rgba(255, 255, 255, 0.5);
}

.iframeWeb {
    display: block;
}

.iframeMobile {
    display: none;
}

.pricingBox {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 8% 0%;
}

.separadorHorizontal {
    display: none;
}

.planBox {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 650px;
    margin: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--colorPlanBoxes);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(47, 72, 88, 1) 0.20%, rgba(47, 72, 88, 1) 50%, rgba(47, 72, 88, 1) 99.80%, rgba(255, 255, 255, 1) 100%)1;
    transition: transform 0.3s ease;
}

.planBox:hover {
    transform: scale(1.02);
}

.planBox h2 {
    margin-top: 100px;
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--colorLetrasTerceario)
}

.planBox p:nth-of-type(2) {
    font-size: 1.4rem;
    margin: 40px 0 25px 0;
}

.planBox p:nth-of-type(2) strong {
    color: var(--colorLetrasTerceario)
}

.planBox li {
    list-style: none;
    margin: 4px 0 4px 0;
}

.planBox button {
    height: 45px;
    width: 140px;
    margin-bottom: 100px;
    margin-top: auto;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-top-color: bisque;
    border-left-color: bisque;
}

.pricingBox .planBox:nth-child(1) button {
    background-color: var(--colorButton1);
}

.pricingBox .planBox:nth-child(3) button {
    background-color: var(--colorButton2);
}

.pricingBox .planBox:nth-child(5) button {
    background-color: var(--colorButton3);
}

.planBox button:hover {
    transform: scale(1.1);

}

.formBox {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto 0 auto;
}

.formBox h2 {
    margin-right: 5px;
}

form {
    display: flex;
    margin: 0 20px 0 20px;
    border: 2px solid black;
    border-radius: 20px;
}

input {
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
}

form :first-child {
    padding-right: 30px;
    padding-left: 20px;
    border: none;
    outline: none;
    color: #121212;
}

form :last-child {
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-left: -20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #58C9DF;
    color: #121212;
}

form :last-child:hover {
    transform: scale(1.1);
    border: 1px solid black;
    border-left: none;
}

footer {
    background-color: var(--colorHeader);
    border-top: 1px solid;
    border-color: white;
}

/* Estilos para el menú hamburguesa en pantallas pequeñas */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    margin-left: 20px;
}

.hamburger-menu span {
    width: 100%;
    height: 5px;
    background-color: var(--colorLetrasSecundario);
    border-radius: 5px;
}




/* monitores chicos*/




@media (max-width: 1300px) {

    /* Ajustamos el tamaño del header */
    header {
        height: 10vh;
        width: 100%;
    }

    /* Ocultamos la imagen y el logo en pantallas pequeñas */
    .header-img {
        display: none;
    }

    .logoBox {
        display: none;
    }

    /* Estilizamos la barra de navegación */
    .nav-bar {
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 10vh;
        display: none;
    }

    /* Estilos para el contenedor de los enlaces de navegación */
    .nav-link-box {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--colorHeader);
    }

    .nav-link {
        text-align: left;
        border-left: 2px solid #48fff6;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-width: 60%;
        width: 90%;
    }

    .nav-link:active {
        transition: transform 0.3s linear;
        /* Mejorado: Añadir unidad de tiempo en la transición */
        color: #121212;
        background-color: var(--colorFondoNavMenuHamburguesa);
    }

    /* Estilos para el icono de hamburguesa */
    .hamburger-menu {
        display: flex;
        background-color: #2f4858;
        margin: auto 15px;
    }

    /* Mostrar la barra de navegación cuando se activa la clase 'active' */
    .nav-bar.active {
        display: flex;
    }
}


/*Mobile Section*/





@media (max-width: 900px) {

    /* *{
        border: 1px solid white;
    } */
    header {
        height: 10vh;
        width: 100%;
    }

    .header-img {
        display: none;
    }

    .logoBox {
        display: none;
    }

    .nav-bar {

        position: absolute;
        width: 100vw;
        height: fit-content;
        top: 10vh;
        display: none;


    }

    /* Ocultamos los enlaces de navegación y los mostramos cuando se haga clic */
    .nav-link-box {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        background-color: var(--colorHeader);
    }

    .nav-link {
        text-align: left;
        border-left: 2px solid #48fff6;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-width: 60%;
        width: 90%;

    }

    .nav-link:active {
        transition: transform 0.3s linear;
        color: #121212;
        background-color: var(--colorFondoNavMenuHamburguesa)
    }

    /* Mostramos el icono de hamburguesa */
    .hamburger-menu {
        display: flex;
        background-color: #2f4858;
        margin: auto 15px;
    }

    .nav-bar.active {
        display: flex;
    }

    /* a partir de aca revise y borre*/


    .boxTitle {
        height: fit-content;
        font-size: 2rem;
        margin: 35px 0 35px 0;
    }

    .boxTitle h2 {
        font-size: 1.4rem;
        margin: 40px;
    }

    .boxInfo {
        font-size: 1.2rem;
    }

    .videoBox {
        background: var(--backgroundColorVideoMobile);
    }

    iframe {
        width: 73.55%;
        height: 70%;
    }

    .iframeWeb {
        display: none;
    }

    .iframeMobile {
        display: block;

    }


    .pricingBox {
        font-size: 1rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15% 0% 15% 0%;
    }

    .separadorHorizontal {
        display: block;
        border-color: var(--colorLetrasTerceario);
        width: 60%;
        text-align: center;
        margin: 40px 0 40px 0
    }

    .planBox {
        width: 80%;
        height: auto;
        margin: 0 50px 0px 50px;
    }

    .planBox:active {
        transform: scale(1.02);
    }

    .planBox button {
        margin-top: 50px;
    }



    .formBox {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .formBox h2 {
        margin-top: 20px;
    }

    form {
        margin: 50px 0px 30px 0px;
    }



}